<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/myStyleSheet.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Index</title>
</head>
<body>
<div>
    <div class="jumbotron">
        <h1>This is index.html</h1>
        <a href="/form">goto /form for form page</a>

        <p>These are the accessed date</p>
    </div>
</div>
<div class="accessDate">

    {% if access_record %}

        <table border="5px">
            <thead>
            <th>Access Date</th>
            <th>Site Name</th>
            </thead>
            {% for acc in access_record %}
                <tr>
                    <td>{{ acc.date }}</td>
                    <td>{{ acc.name }}</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h1>No access record found</h1>
    {% endif %}

</div>

</body>
</html>